.container {
  padding-bottom: 20px;
  padding-top: 20px;
  border: black;
  border-style: double;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: antiquewhite;
  
}

h1
{
  border-radius: 20px;
  background-color: crimson;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: black;
  border-style: double;
}

label {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#boton{
  text-align: center;
}

